/****************
*
*   VARIABLES
*
*****************/

$couleur-dore: #946F2B;
$couleur-turquoise: #7DBBC9;
$couleur-gris-fonce: #262C2D;
$couleur-gris-pale: #DCE2E8;

$font-header: league-gothic, sans-serif;
$font-body: minion-pro, serif;

/***************************
*
*   COMPOSANTS UNIVERSELS
*
****************************/

header {
    position: relative;
    height: 910px;
    display: flex;
    margin-bottom: 80px;

    .accueil-head-nom {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: calc(50% + 80px);
        padding-right: 80px;
        z-index: 90;
        background-color: rgba(255,255,255,0.75);

        #accueil-logo {
            margin-top: -47px;
        }

        #accueil-header-nom {
            font-family: league-gothic, sans-serif;
            font-weight: 400;
            font-style: normal;
            text-transform: uppercase;
            color: $couleur-turquoise;
            font-size: 200px;
            margin: 60px -40px 60px 0;
            top: 200px;
            z-index: 99;
            line-height: 180px;
        }
        
        .accueil-header-compositeur {
            font-size: 28px;
            margin-bottom: 40px;
            margin-right: 20px;
        }

    }

    .accueil-head-photo {
        position: absolute;
        right: 0;
        top: 0;
        height: 910px;
        width: 50%;
        z-index: 10;

        .accueil-head-photo-gf {
            height: 100%;
            width: 100%;
            background-image: url('../img/accueil-header-photo-bg.jpg');
            background-position: left;
            background-size: cover;
        }
    }
}

#accueil-bio {
    position: relative;
    display: flex;
    margin: 100px auto;

    .accueil-bio-photo {
        height: 440px;
        width: calc(50% + 40px);
        background-image: url('../img/accueil-bio-photo.jpg');
        background-position: right;
        background-size: cover;
    }

    .accueil-bio-txt {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgba(255,255,255,0.75);
        width: calc(50% + 40px);
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 90;

        img {
            position: absolute;
            width: 200px;
            height: 40px;
            margin-top: -45px;
        }

        p {
            font-size: 24px;
            line-height: 50px;
        }

        a {
            font-size: 24px;
            align-self: flex-end;
        }
    }
}


.accueil-carte-oeuvre {
    padding: 0;
    transition: box-shadow .4s ease-out;
    background-color: white;
    align-self: flex-start;
    
    &:hover {
        box-shadow: 0 0 25px 0px rgba(0,0,0,0.3), 0 0 10px 5px rgba(0,0,0,0.1);
        z-index: 999;
    }
}

#accueil-avenir {

    .accueil-avenir-couverture {
        height: 280px;
        flex: 1;
    
        .couverture-280 {
            height:100%;
            width: 100%;
            background-size: cover;
            background-position: center;
        }
    }
    
    .accueil-avenir-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 30px;

        div {
            display: flex;
            flex-direction: column;
        }
    }
}

#accueil-infolettre {
    margin: 100px 0;

    
    .accueil-infolettre-form {
        width: 500px;
        margin: 10px;

        .accueil-infolettre-input {
            flex: 2;

            #email-newsletter {
                width: calc(100% - 20px);
            }
        }
    } 
}

#accueil-dernieres-parutions {

    .accueil-dernieres-couverture {
        height: 400px;
        flex: 1;
        
        .couverture-280 {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
        }
    }

    .accueil-dernieres-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 30px;

        div {
            display: flex;
            flex-direction: column;
        }
    }

    .accueil-derniere-disco {
        font-size: 28px;
    }
}

.accueil-oeuvre-type {
    color: $couleur-turquoise;
    font-size: 18px;
}

.accueil-oeuvre-date {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.accueil-oeuvre-titre {
    font-size: 24px;
    margin-bottom: 10px;
}

.accueil-oeuvre-etiquette {
    font-size: 18px;
    margin-bottom: 10px;
}

.accueil-oeuvre-cta {
    font-size: 28px;
    align-self: flex-end;
}

/********************
*
*   MEDIA QUERIES
*
*********************/


//##################################
//##########   1200 PX   ########### 
//##################################

@media screen and (max-width: 1200px) {

    #accueil-avenir {
        .accueil-carte-oeuvre {
            .accueil-avenir-details {
                padding: 20px;
            }
        }
    }

    #accueil-bio {    
        .accueil-bio-txt {
            right: 20px;
        }
    }
}

//##################################
//###########   992 PX   ########### 
//##################################

@media screen and (max-width: 992px) {

    header {
        .accueil-head-photo {
            height: 700px;
        }
    }
    
    #accueil-avenir {
        .accueil-carte-oeuvre {
            .accueil-avenir-details {
                padding: 20px;
            }
        }
    }


    header {
        position: relative;
        height: 700px;
        display: flex;
        margin-bottom: 80px;
    
        .accueil-head-nom {
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: calc(50% + 40px);
            padding-right: 40px;
            z-index: 90;
            background-color: rgba(255,255,255,0.75);
    
            #accueil-logo {
                margin-top: -47px;
            }
    
            #accueil-header-nom {
                font-size: 140px;
                line-height: 120px;
                margin: 60px -20px 60px 0;
            }
            
            .accueil-header-compositeur {
                font-size: 28px;
                margin-bottom: 40px;
                margin-right: 20px;
            }
    
        }
    }
}
    
//##################################
//###########   768 PX   ########### 
//##################################

@media screen and (max-width: 768px) {
    header {
        height: 600px;
    
        .accueil-head-nom {    
            #accueil-header-nom {
                font-size: 120px;
                line-height: 100px;
            }
        }
    } 
}

//##################################
//###########   576 PX   ########### 
//##################################

@media screen and (max-width: 576px) {

    header {
        height: 600px;
    
        .accueil-head-nom {
            align-self: flex-end;
            align-items: center;
            width: 100%;
            padding-right: 0;
            z-index: 90;
            background-color: rgba(255,255,255,0.75);
    
            #accueil-logo {
                margin-top: 20px;
                margin-bottom: 10px;
                height: 40px;
            }
    
            #accueil-header-nom {
                font-size: 110px;
                line-height: 100px;
                margin: 10px 0;
            }
            
            .accueil-header-compositeur {
                justify-self: center;
                font-size: 18px;
                margin-bottom: 20px;
                margin-right: 0px;
            }
    
        }
    
        .accueil-head-photo {
            height: 400px;
            width: 100%;
    
            .accueil-head-photo-gf {
                background-position: center;
            }
        }
    }  

    .accueil-carte-oeuvre {
        width: 100%;
        margin: 30px 0;
        margin-left: 0;
        margin-right: 0;
    }

    #accueil-bio {
        position: relative;
        flex-direction: column;
        margin: 100px auto;
        height: 400px;
    
        .accueil-bio-photo {
            height: 260px;
            width: 100%;
        }
    
        .accueil-bio-txt {
            width: calc(100% - 40px);
            padding: 20px;
            // right: 20px;
            top: initial;
            bottom: 0;
            transform: translateY(0);
    
            img {
                position: absolute;
                width: 200px;
                height: 40px;
                margin-top: -35px;
            }
    
            p {
                font-size: 16px;
                line-height: 40px;
            }
    
            a {
                font-size: 16px;
                align-self: flex-end;
            }
        }
    }

    #accueil-infolettre {
        margin: 100px 0;
    
        
        .accueil-infolettre-form {
            width: 500px;
            margin: 10px;
            // align-items: center;
    
            .accueil-infolettre-input {
                flex: 2;
    
                #email-newsletter {
                    width: 100%;
                }
            }

            .accueil-infolettre-btn {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }
        } 
    }

    #accueil-dernieres-parutions {
        .accueil-derniere-disco {
            font-size: 18px;
        }
    }
}