/****************
*
*   VARIABLES
*
*****************/

$couleur-dore: #946F2B;
$couleur-turquoise: #7DBBC9;
$couleur-gris-fonce: #262C2D;
$couleur-gris-pale: #DCE2E8;

$font-header: Arial, Helvetica, sans-serif;
$font-body: Arial, Helvetica, sans-serif;


/*************************************/

* {
    box-sizing: border-box;
}

html,
body {
    background-color: $couleur-gris-fonce;
    font-family: $font-body;
}

h1 {
    font-style: italic;
}

h2 {
    margin: 10px 0 20px 0;
}

h3 {
    margin: 0;
}

.conteneur {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    background-color: $couleur-gris-pale;
    padding: 30px;
}

a > button {
    text-decoration: none;
}

// ****************************
// *******  UTILITAIRES *******
// ****************************

.flex {
    display: flex;
}

.flex-l-3quart {
    flex: 3;
    margin-right: 30px;
}

.flex-r-1quart {
    flex: 1;
}

.flex-l-2tiers {
    flex: 2;
    margin-right: 30px;
}

.flex-r-1tiers {
    flex: 1;
}

.flex-l-1tiers {
    flex: 1;
    margin-right: 30px;
}

.flex-r-2tiers {
    flex: 2;
}

.flex-2x1 {
    flex: 1;
    
    &:nth-of-type(1) {
        margin-right: 15px;
    }

    &:nth-of-type(2) {
        margin-left: 15px;
    }
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

    svg {
        height: 20px;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
    }
}

.btn-add {
    background-color: $couleur-turquoise;
    color: white;

    svg {
        fill: white;
    }

    &:hover {
        background-color: $couleur-dore;
    }
}

.btn-publish {
    background-color: $couleur-dore;
    color: white;

    svg {
        fill: white;
    }

    &:hover {
        background-color: $couleur-turquoise;
    }
}

label {
    margin: 10px 0;
    display: flex;
    align-items: center;

    span {
        width: 150px;
    }

    input,
    textarea,
    select {
        flex: 1;
    }

}

.small {
    font-size: 0.7em;
}

.notes {
    font-size: 0.7em;
    font-style: italic;
    background-color: rgba(220, 226, 232, 0.541);
    padding: 5px;
    margin-bottom: 10px;
}

.bold {
    font-weight: 600;
}

// ############################
// ########  CONNEXION ########
// ############################


.admin-connexion-accueil {
    height: 100vh;
}

#admin-connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40em;

    h4 {
        margin: 30px 0;
    }

    #admin-connect-form {
        width: 16em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        input {
            flex: 0 0 40px;
            margin: 10px 0;
            height: 50px;
            // align-self: flex-start;
        }

        .btn {
            margin: 10px 0;
        }
    }
}



// ############################
// ########    NAV     ########
// ############################

nav {
    color: $couleur-gris-pale;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;

    a {
        color: $couleur-turquoise;
        text-decoration: none;
        
        &:hover {
            color:#946F2B;
        }
    }
    

    .logo-title {
        display: flex;

        img {
            align-self: center;
        }

        h1 {
            margin-left: 30px;
        }
    }

    .user-profil {
        display: flex;
        align-items: center;
        font-size: 12px;

        svg {
            height: 40px;
            margin: 10px;

            path {
                fill: $couleur-dore;
            }
        }

        img {
            height: 40px;
            margin: 10px;
        }

        .user-name-logout {
            display: flex;
            flex-direction: column;

            span,
            a {
                margin: 5px;
            }
        }
    }
}

// ############################
// ########  ACCUEIL   ########
// ############################

#admin-accueil {

    .admin-accueil-tableau {
        margin-bottom: 40px;

        .admin-accueil-table-header {
            background-color: $couleur-gris-fonce;
            color: white;
            margin: 0;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;

            a {
                text-decoration: none;
            }
    
            div {
                display: flex;
    
                svg {
                    height: 20px;
                    margin-right: 10px;
        
                    path {
                        fill: $couleur-dore;
                    }
                }
            
            }
        }

        .admin-accueil-table-items {
            display: flex;
            flex-direction: column;
            background-color: #fff;

            .admin-accueil-table-item {
                padding: 20px;
                flex: 0;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $couleur-gris-pale;
                
                img {
                    width: 90px;
                    align-self: flex-start;
                }

                .item-details {
                    padding-left: 20px;
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    .item-details-infos {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 90px;

                        .item-type {
                            color: hsl(0, 0, 39);
                            font-size: 12px;
                        }
                        .item-titre {
                            font-size: 24px;
                            font-weight: 600;
                        }
                        .item-date {
                            color: hsl(0, 0, 39);
                            font-size: 12px;
                        }
                    }

                    .item-details-options {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        height: 90px;

                        div {
                            display: flex;
                            justify-content: flex-end;
                            margin-bottom: 15px;
                            
                            a {
                                display: flex;
                                align-items: center;
                                text-decoration: none;
                                color: hsl(0, 0, 60);
                                font-size: 12px;
                            }

                            svg {
                                height: 20px;
                                margin-left: 10px;

                                path {
                                    fill: hsl(0, 0, 39);
                                }
                            }
                        }

                        .svg-voir-page {
                            &:hover {
                                a {
                                    span {
                                        color: darkblue;
                                    }
                        
                                    svg {
                                        path { 
                                            fill: darkblue; 
                                        } 
                                    }
                                }  
                                
                            }
                        } 
                        
                        .svg-modifier { 
                            &:hover { 
                                a {
                                    span {
                                        color: darkorange;
                                    }
                        
                                    svg {
                                        path { 
                                            fill: orange; 
                                        } 
                                    }
                                }
                        
                            } 
                        }
                        
                        .svg-supprimer { 
                            &:hover { 
                                a {
                                    span {
                                        color: darkred;
                                    }
                                    
                                    svg {
                                        path { 
                                            fill: darkred; 
                                        } 
                                    }
                                }
                        
                            } 
                        }
                    }
                }


            }
        }

        .admin-accueil-users {
            padding: 20px;
            background-color: white;
            display: flex;
            flex-direction: column;

            div {
                margin: 10px 0;
                a {
                    display: flex;
                    align-items: center;
                    color: $couleur-gris-fonce;
                    text-decoration: none;
                    font-size: 14px;

                    &:hover {
                        color: $couleur-dore;

                        svg {
                            path {
                                fill: $couleur-dore;
                            }
                        }
                    }
                }

                svg {
                    height: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}

// ############################
// ######  AJOUT OEUVRE  ######
// ############################


.admin-ajoutoeuvre-titre-btn {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-ajoutoeuvre-etapes {
    display: flex;
    margin-bottom: 20px;
    height: 40px;

    .etapes-etape {
        flex: 1;
        text-align: center;
        background-color: $couleur-gris-fonce;
        font-weight: 600;
        color: white;
        line-height: 40px;
    }

    .etapes-ajout {
        flex: 2;
        text-align: center;
        background-color: $couleur-turquoise;
        line-height: 40px;
        opacity: 0.5;
    }

    .actif {
        opacity: 1;
        font-weight: 600;
    }
}

#admin-ajoutoeuvre {
    
    input[type="text"],
    textarea,
    input[type="date"],
    input[type="file"],
    input[type="number"],
    select,
    input[type="time"] {
        border: 1px solid $couleur-gris-pale;
        border-bottom: 1px solid $couleur-turquoise;
        background-color: $couleur-gris-pale;
        padding: 5px 10px;

        &:focus {
            outline: none;
            border: 1px solid $couleur-turquoise;
        }
    }

    input[type="text"],
    input[type="date"],
    input[type="file"],
    input[type="number"],
    select,
    input[type="time"] {
        height: 30px;
    }

    .admin-ajoutoeuvre-tableau {
        margin-bottom: 30px;

        .admin-ajoutoeuvre-table-header {
            background-color: $couleur-gris-fonce;
            color: white;
            margin: 0;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;

            a {
                text-decoration: none;
            }
    
            div {
                display: flex;
    
                svg {
                    height: 20px;
                    margin-right: 10px;
        
                    path {
                        fill: $couleur-dore;
                    }
                }
            
            }
        }

        .admin-ajoutoeuvre-table-form {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 20px;

            .admin-ajoutoeuvre-details {
                display: flex;
                flex-direction: column;
            }

            .admin-ajout-oeuvre-desc {
                label {
                    span {
                        align-self: flex-start;
                    }
                }
            }
        }

        .admin-ajoutoeuvre-services {
            background-color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;

            p {
                font-size: 12px;
            }

            label {
                span {
                    width: 100px;
                }
            }
        }

        .admin-ajoutoeuvre-resume {
            background-color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;;

            img {
                width: 300px;
            }

            span {
                font-size: 24px;
                margin: 20px 0;
            }
        }

        .oeuvre-piste {
            width: 100%;
            padding: 0;
            margin: 10px 0;
            display: flex;
            align-items: center;

            .oeuvre-pistes-no {
                margin: 0 10px;
             }
            .oeuvre-pistes-titre {
                width: 200px;
                margin: 0 10px;
            }
            .oeuvre-pistes-temps { 
                width: 150px;
                margin: 0 10px;

                input[type="text"] {
                    width: 50px;
                }
            }
            .oeuvre-pistes-fichier { 
                width: 150px;
                margin: 0 10px;
            }
        }
    }
}


// ############################
// ######  UTILISATEURS  ######
// ############################


.admin-users-titre-btn {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#user-photo-profil {
    width: 150px;
    // flex: 0 0 150px;
}

#admin-utilisateurs {

    input[type="text"],
    textarea,
    input[type="date"],
    input[type="file"],
    input[type="number"],
    select,
    input[type="email"],
    input[type="password"] {
        border: 1px solid $couleur-gris-pale;
        border-bottom: 1px solid $couleur-turquoise;
        background-color: $couleur-gris-pale;
        padding: 5px 10px;

        &:focus {
            outline: none;
            border: 1px solid $couleur-turquoise;
        }
    }

    input[type="text"],
    input[type="date"],
    input[type="file"],
    input[type="number"],
    select,
    input[type="email"],
    input[type="password"] {
        height: 30px;
    }

    .admin-users-tableau {
        margin-bottom: 30px;

        .admin-users-table-header {
            background-color: $couleur-gris-fonce;
            color: white;
            margin: 0;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;

            a {
                text-decoration: none;
            }
    
            div {
                display: flex;
    
                svg {
                    height: 20px;
                    margin-right: 10px;
        
                    path {
                        fill: $couleur-dore;
                    }
                }
            
            }
        }

        .admin-users-table-items {
            padding: 20px;
            background-color: white;

            table {
                width: 100%;
                border-collapse: collapse;

                thead {
                    background-color: rgba(125, 187, 201, 0.342);
                    
                    th {
                        padding: 10px;

                        // &:nth-of-type(1) { width: 150px; }
                        // &:nth-of-type(2) { width: 150px; }
                        // &:nth-of-type(3) { width: 150px; }
                        // &:nth-of-type(4) { width: 100px; }
                        // &:nth-of-type(5) { width: 100px; }
                        &:nth-of-type(5) { width: 80px; }
                        &:nth-of-type(6) { width: 80px; }
                    }
                }

                tr {
                    &:nth-of-type(2n) {
                        background-color: rgba(220, 226, 232, 0.466);
                    }

                    &:hover {
                        background-color: #efefef;
                    }

                    td {
                        text-align: center;
                        padding: 10px;

                        img {
                            width: 70px;
                        }

                        a {
                            svg {
                                height: 20px;
    
                                path {
                                    fill: $couleur-gris-fonce;
                                }
                            }
                        }
                    }
                }
            }
        }

        .admin-users-table-form {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 20px;

            .admin-users-details {
                display: flex;
                flex-direction: column;
            }

            .admin-ajout-oeuvre-desc {
                label {
                    span {
                        align-self: flex-start;
                    }
                }
            }
        }

        .admin-users-services {
            background-color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;

            p {
                font-size: 12px;
            }

            label {
                span {
                    width: 100px;
                }
            }
        }

        .oeuvre-piste {
            width: 100%;
            padding: 0;
            margin: 10px 0;

            .oeuvre-pistes-no {
                margin: 0 10px;
             }
            .oeuvre-pistes-titre {
                width: 200px;
                margin: 0 10px;
            }
            .oeuvre-pistes-temps { 
                width: 150px;
                margin: 0 10px;

                input[type="text"] {
                    width: 50px;
                }
            }
            .oeuvre-pistes-fichier { 
                width: 150px;
                margin: 0 10px;
            }
        }
    }
}