header {
    background-image: url('../img/contact-header-bg.jpg');
}

main {
    p {
        font-size: 24px;
    }
}

.contact-rs {
    margin-bottom: 60px;
    display: flex;
}

.contact-social-g {
    flex: 3;
    align-self: flex-start;

    p {
        margin: 0;
    }
}

.contact-social-d {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
        margin-left: 20px;
    }
}

.contact-infolettre-form {
    width: 500px;
    margin: 10px;

    .contact-infolettre-input {
        flex: 1;

        #email-newsletter {
            width: calc(100% - 20px);
        }
    }
} 

.contact-agence {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

/********************
*
*   MEDIA QUERIES
*
*********************/

 
//##################################
//###########   768 PX   ########### 
//##################################
   
@media screen and (max-width: 768px) {
    .contact-rs {
        display: flex;
        flex-direction: column;
    }

    .contact-social-g {
        align-self: flex-start;
    }
    
    .contact-social-d {
        justify-content: center;
        margin-top: 30px;
    
        img {
            margin: 10px;
        }
    }
}

//##################################
//###########   576 PX   ########### 
//##################################

@media screen and (max-width: 576px) {

    .contact-infolettre-form {
        width: 500px;
        margin: 10px;
        // align-items: center;

        .contact-infolettre-input {
            flex: 2;

            #email-newsletter {
                width: 100%;
            }
        }

        .contact-infolettre-btn {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    } 
}