/****************
*
*   VARIABLES
*
*****************/
/***************************
*
*   COMPOSANTS PAGE MUSIQUE
*
****************************/
header {
  background-image: url("../img/musique-header-bg.jpg");
}

.musique-btn-styles {
  margin: 100px 0 60px 0;
  display: flex;
}

.musique-btn-styles a {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.musique-btn-styles a button {
  width: 100%;
  color: #262C2D;
  font-size: 18px;
}

section {
  margin-bottom: 100px;
}

section .carte-oeuvre {
  max-width: 380px;
  flex: 1;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
  transition: box-shadow .2s ease-out;
}

section .carte-oeuvre:hover {
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.3), 0 0 10px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

section .carte-oeuvre .oeuvre-couverture {
  height: 380px;
  width: 380px;
}

section .carte-oeuvre .oeuvre-couverture .couverture-380 {
  height: 380px;
  width: 380px;
  background-size: cover;
  background-position: center;
}

section .carte-oeuvre:first-of-type {
  margin-left: 0;
}

section .carte-oeuvre:nth-child(3n) {
  margin-right: 0;
}

section .carte-oeuvre:nth-child(4n) {
  margin-left: 0;
}

section .carte-oeuvre .oeuvre-details {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section .carte-oeuvre .oeuvre-details > div {
  display: flex;
  flex-direction: column;
}

section .carte-oeuvre .oeuvre-details a {
  text-align: right;
}

.avenir-couverture {
  height: 280px;
}

.avenir-couverture .couverture-280 {
  height: 280px;
  width: 280px;
  background-size: cover;
  background-position: center;
}

.carte-large {
  transition: box-shadow .4s ease-out;
}

.carte-large:hover {
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.3), 0 0 10px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.carte-large .oeuvre-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}

.carte-large .oeuvre-details div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.carte-large .oeuvre-details div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.carte-large .oeuvre-details div:last-of-type {
  text-align: right;
}

.oeuvre-type {
  color: #7DBBC9;
  font-size: 18px;
}

.oeuvre-date {
  font-size: 18px;
}

.oeuvre-titre {
  font-size: 24px;
  margin-bottom: 20px;
}

.oeuvre-etiquette {
  font-size: 18px;
  margin-bottom: 30px;
}

.oeuvre-cta {
  font-size: 28px;
}
