/****************
*
*   VARIABLES
*
*****************/

$couleur-dore: #946F2B;
$couleur-turquoise: #7DBBC9;
$couleur-gris-fonce: #262C2D;
$couleur-gris-pale: #DCE2E8;

$font-header: league-gothic, sans-serif;
$font-body: minion-pro, serif;


/***************************
*
*   COMPOSANTS UNIVERSELS
*
****************************/

h1 {
    font-size: 140px;
    margin: 0;
    color: white;
    position: absolute;
    top: 90px;
    z-index: 99;
    padding: 0 20px;

    &:after {
        content: '';
        background-color: rgba(148, 111, 43, 0.75);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index:-1;
    }
}

header {
    margin: 60px 0;
    height: 240px;
    background-image: url('../img/oeuvre-header-bg.jpg');
    background-position: center;
    background-size: cover;

    .page-header {
        position: relative;
    }
}

.oeuvre-filariane {
    font-size: 18px;
    margin: 78px 0 20px 0;

    .filariane-categorie {
        color: $couleur-gris-fonce;
        opacity: 0.75;
    }

    .filariane-fleche {
        margin: 0 10px;
        color: $couleur-turquoise;
    }
}

.oeuvre-presentation {
    position: relative;
    margin-bottom: 100px;

    .oeuvre-art {

        img {
            width: 50%;
        }
    }

    .oeuvre-desc {
        position: absolute;
        width: calc(50% + 40px);
        right: 0;
        top: 60px;
        background-color: rgba(255,255,255,0.75);
        padding-left: 70px;

        .oeuvre-type {
            margin: 10px 0 60px 0;
            font-size: 18px;
            color: $couleur-turquoise;
        }

        .oeuvre-type-container {
            margin: 10px 0 60px 0;
        }

        .oeuvre-desc-container {
            margin-bottom: 20px;
            .oeuvre-desc-tag {
                font-size: 24px;
                color: $couleur-dore;
            }

            .oeuvre-desc-value {
                font-size: 24px;
                margin-left: 30px;
            }
        }

        .oeuvre-desc-txt {
            margin-top: 60px;
            font-size: 18px;
        }
    }
}

.oeuvre-stores {
    display: flex;

    a {
        flex: 1;
        margin: 30px 15px;
    }
}

#oeuvre-stores-bandcamp {
    .cls-1,
    .cls-2 {
        fill: $couleur-gris-fonce;
        transition: fill .2s ease-out;
    }

    &:hover {
        .cls-1{fill:#211f1f;}
        .cls-2{fill:#6399a8;}
    }
}

#oeuvre-stores-itunes {
    .cls-1{
        fill: $couleur-gris-fonce;
        transition: fill .2s ease-out;
    }
    .cls-2,
    .cls-3,
    .cls-4,
    .cls-5,
    .cls-6,
    .cls-7 {
        fill: white;
        transition: fill .2s ease-out;
    }

    &:hover {
        .cls-1{
            fill: #E44ACA;
        }
        .cls-2{
            fill: white;
        }
    
        .cls-3,
        .cls-4,
        .cls-5,
        .cls-6,
        .cls-7{
            fill: #FAE1F8;
        }
    }
}

#oeuvre-stores-amazon {
    .cls-1{
        fill: $couleur-gris-fonce;
    }

    .cls-2 {
        fill: $couleur-gris-fonce;
    }

    .cls-1,
    .cls-2 {
        fill-rule:evenodd;
        transition: fill .2s ease-out;
    }

    &:hover {
        .cls-1{
            fill:#f90;
        }
        
        .cls-2 {
            fill: black;
        }

        .cls-1,
        .cls-2 {
            fill-rule:evenodd;
        }
    }
}

.oeuvre-piste {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 18px;

    .piste-temps-play {
        // flex: 1;
        display: flex;
        align-items: center;
        height: 40px;

        .piste-play {
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                height: 30px;
                margin-left: 30px;
                fill: $couleur-dore;
                transition: fill .2s ease-out;
            }

            &:hover {
                
                svg {
                    fill: $couleur-gris-fonce;
                }
            }
        }

        audio {
            height: 40px;
            outline: none;
            // transition: all .2s ease-out;
        }

        .piste-disabled {
            cursor: default;

            svg {
                height: 30px;
                margin-left: 30px;
                fill: $couleur-gris-pale;
            }

            &:hover {
                
                svg {
                    fill: $couleur-gris-pale;
                }
            }
        }
    }
}


/********************
*
*   MEDIA QUERIES
*
*********************/


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}
    
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
    
}