@import url("https://use.typekit.net/vzq6ywf.css");

    /****************
    *
    *   VARIABLES
    *
    *****************/

    $couleur-dore: #946F2B;
    $couleur-turquoise: #7DBBC9;
    $couleur-gris-fonce: #262C2D;
    $couleur-gris-pale: #DCE2E8;

    $font-header: league-gothic, sans-serif;
    $font-body: minion-pro, serif;

    /***************************
    *
    *   COMPOSANTS UNIVERSELS
    *
    ****************************/

* {
    box-sizing: border-box;
}

html,
body {
    background-color: $couleur-gris-pale;
    font-family: $font-body;
    font-weight: 600;
    font-style: italic;
    margin: 0;
    color: $couleur-gris-fonce;
    position: relative;

    .nav-slide-in {
        right: 300px;
        animation-name: slide-in;
        animation-duration: .23s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;

        @keyframes slide-in {
            0% {
                right: 0;
            }
            100% {
                right: 300px;
            }
        }
    }
    .nav-slide-out {
        right: 0;
        animation-name: slide-out;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;

        @keyframes slide-out {
            0% {
                right: 300px;
            }
            100% {
                right: 0;
            }
        }
    }
}

body {
    padding: 20px 0 0 0;
}

h1,
h2,
h3 {
    font-family: league-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $couleur-dore;
    text-transform: uppercase;
}

h4,
h5 {
    font-family: minion-pro, serif;
    font-weight: 600;
    font-style: italic;
}

h1 {
    font-size: 200px;
    margin: 0;
    color: white;
    position: absolute;
    top: 200px;
    z-index: 99;
    padding: 0 20px;

    &:after {
        content: '';
        background-color: rgba(148, 111, 43, 0.75);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index:-1;
    }
}

h2 {
    font-size: 70px;
    margin: 40px 0 60px 0;
    z-index: 99;
    position: relative;
    display: inline-block;
    // padding: 0 20px;

    &:after {
        content: '';
        background-image: url('../img/h2-bg-gamme.png');
        background-repeat: repeat-x;
        width: 100%;
        height: 50px;
        position: absolute;
        top: 30px;
        left: 30px;
        z-index:-1;
    }
}

h3 {
    font-size: 50px;
    margin: 10px 0 30px 0;
    z-index: 99;
    position: relative;
    display: inline-block;
    // padding: 0 20px;

    &:after {
        content: '';
        background-image: url('../img/h3-bg-gamme.png');
        background-repeat: repeat-x;
        width: 100%;
        height: 40px;
        position: absolute;
        top: 20px;
        left: 30px;
        z-index:-1;
    }
}

h5 {
    color: $couleur-turquoise;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.conteneur {
    max-width: 1200px;
    margin: 0 auto;
}

/***********************
*
*   STRUCTURE DE PAGE
*
************************/

nav {
    position: relative;
    margin-bottom: 30px;
    height: 52px;
    background-repeat: repeat-x;
    background-position: center;
    background-image: url('../img/nav-bg-gamme.png');

    .conteneur {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        #nav-logo {
            cursor: pointer;
        }

        
        #nav-liens {
            display: flex;
            justify-content: space-around;
            flex-grow: 1;
        }

        a {
            position: relative;
            font-size: 24px;
            color: $couleur-gris-fonce;
            transition: color .2s ease-out;
            z-index: 99;
    
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 4px;
                left: 0;
                background-color: $couleur-turquoise;
                visibility: hidden;
                transform: scaleX(0);
                transition: all .2s ease-out;
                z-index: -1;
              }
    
              &:hover:after {
                visibility: visible;
                transform: scaleX(1);
              }
    
            &:hover {
                color: $couleur-dore;
            }
        }
    }

    #nav-hamburger {
        visibility: hidden;
        position: absolute;
        top: 12px;
        right: 30px;
        cursor: pointer;
    }
}

header {
    margin: 60px 0;
    height: 420px;
    background-position: center;
    background-size: cover;

    .page-header {
        position: relative;
    }
}

main {
    a {
        position: relative;
        color: $couleur-dore;
        transition: color .2s ease-out;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $couleur-turquoise;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease-out;
          }

          &:hover:before {
            visibility: visible;
            transform: scaleX(1);
          }

        &:hover {
            color: $couleur-gris-fonce;
        }
    }

    .liens-img {
        position: relative;

        &:before {
            content: "";
            visibility: hidden;
        }

        &:hover:before {
            visibility: hidden;
        }
    }

}

section {
    margin-bottom: 100px;
}

footer {
    background-color: #262C2D;
    padding: 70px 102px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    a {
        color: $couleur-gris-pale;
        transition: color .2s ease-out;
        
        &:hover {
            color: white;
        }
    }

    div {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .navigation {
            flex: 1;
            display: flex;
            flex-direction: column;
    
            & * {
                margin: 0;
                margin-bottom: 10px;
            }
        }
        
        .agence {
            flex: 1;
            display: flex;
            flex-direction: column;

            p {
                color: white;
            }
    
            & * {
                margin: 0;
                margin-bottom: 10px;
            }
        }
    
        .social {
            flex: 1;
            display: flex;
            flex-direction: column;

            a {
                margin-right: 10px;
    
                img {
                    transition: filter 0.2s ease-out;
                }
    
                &:hover {
                    img {
                        filter: brightness(1.2);
                    }
                }
            }
        }
    
        .logo-admin {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            height: 180px;
        }
    }

}

#credit-creation {
    font-size: 12px;
    color: $couleur-dore;
    text-align: center;
    margin: 0;
    margin-top: -25px;
    opacity: 0.75;
}

/*****************
*
*   COMPOSANTS
*
******************/

.carte {
    background-color: white;
    padding: 30px;
    align-self: flex-start;
    
    p {
        font-size: 18px;
    }
}

.carte-oeuvre {
    background-color: white;
    align-self: flex-start;
    
    p {
        font-size: 18px;
    }
}

.carte-large {
    background-color: white;
    align-self: flex-start;
}

.flex-2x1 {
    
    &:nth-of-type(1) {
        margin: 0 15px 30px 0;
        flex: 1;
    }
    &:nth-of-type(2) {
        margin: 0 0 30px 15px;
        flex: 1;
    }
}


/******************
*
*   UTILITAIRES
*
*******************/

.hidden {
    // visibility: hidden;
    display: none;
}

.flex {
    display: flex;
}

.flex-conteneur {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.small {
    font-size: 0.75em;
}

.flex-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marge-60 {
    margin: 60px 0;
}

.btn {
    height: 50px;
    padding: 0 30px;
    position: relative;
    z-index: 10;
    border: 0;
    font-family: $font-body;
    font-size: 16px;
    cursor: pointer;;
    
    a {
        line-height: 50px;
        z-index: 999;
        color: white;

        &:hover {
            color: white;

            &:before {
                visibility: hidden;
            }
        }
    }
    
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0%;
        background-color: $couleur-gris-fonce;
        visibility: hidden;
        transform: scale(0);
        transition: all 0.2s ease;
        z-index: -1;
      }

      &:hover:before {
        visibility: visible;
        transform: scale(1);
      }
}

.btn-dore {
    background-color: $couleur-dore;
    color: white;
}

.btn-turquoise {
    background-color: $couleur-turquoise;

    a {
        color: black;
        transition: color .2s ease-out;
    }

    &:hover {
        color: white;
    }
}

input {
    font-family: $font-body;
    font-size: 16px;
    border: 0;
    outline: none;
}

input[type="text"] {
    background-color: $couleur-gris-pale;
    border: 1px solid $couleur-gris-pale;
    color: $couleur-gris-fonce;
    height: 50px;
    padding: 0 10px;
    margin-right: 20px;
    flex: 2;
    transition: border .2s ease;

    &:focus {
        border: 1px solid $couleur-turquoise;
    }
}

input[type="submit"] {
    background-color: $couleur-dore;
    color: white;
    height: 50px;
    flex: 1;
}

/********************
*
*   MEDIA QUERIES
*
*********************/

//##################################
//##########   1200 PX   ########### 
//##################################

@media screen and (max-width: 1200px) {
    .conteneur {
        padding: 0 20px;
    }
    
    .carte {
        padding: 20px;
    }
}

//##################################
//###########   992 PX   ########### 
//##################################

@media screen and (max-width: 992px) {
    
    h1 {
        font-size: 140px;
        top: 270px;
    }

    .carte {
        align-self: initial;
    }
    
    .carte-oeuvre {
        flex-direction: column;
    }

    .flex-conteneur {
        flex-direction: column;
    }

    footer {
        padding: 60px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        div {
            width: 100%;
    
            .navigation {
                margin-bottom: 40px;
            }
            
            .agence {
                align-items: flex-end;
            }
        
            .social {
    
                div {
                    display: flex;
                    justify-content: flex-start;
                }
            }
        
            .logo-admin {
                justify-content: space-between;
                align-items: flex-end;
                height: 0;

                img {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .flex-2x1 {
    
        &:nth-of-type(1) {
            margin: 0 0 30px 0;
            flex: 1;
        }
        &:nth-of-type(2) {
            margin: 0 0 30px 0;
            flex: 1;
        }
    }
}

//##################################
//###########   768 PX   ########### 
//##################################
    
@media screen and (max-width: 768px) {


}

//##################################
//###########   576 PX   ########### 
//##################################

@media screen and (max-width: 576px) {
    
    header {
        height: 340px;
        margin: 20px 0;
    }

    h1 {
        font-size: 80px;
        top: 255px;
    }

    h2 {
        font-size: 50px;
        margin: 30px 0 40px 0;
    
        &:after {
            content: '';
            background-size: contain;
            height: 40px;
            top: 20px;
        }
    }

    nav {
        margin-bottom: 20px 0;

        #nav-liens {
            position: absolute;
            width: 300px;
            // right: -250px;
            top: 10px;
            flex-direction: column;
            align-items: flex-end;
            z-index: -1;

            #nav-hamclose {
                width: 30px;
                margin-bottom: 30px;
                cursor: pointer;
                color: $couleur-turquoise;
            }

            #nav-logo-menu {
                margin: 30px 0;
                cursor: default;
            }

            a {
                margin: 15px 0;
            }
        }

        #nav-hamburger {
            visibility: visible;
        }
    }

    .flex {
        flex-direction: column;
    }

    footer {
        padding: 20px 30px 60px 30px;
    }

    .flex-2x1 {
        &:nth-of-type(1) {
            margin: 0 0 30px 0;
        }
        &:nth-of-type(2) {
            margin: 0 0 30px 0;
        }
    }
}